[submodule "3rd-party/spdlog"]
	path = 3rd-party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "3rd-party/libconfig"]
	path = 3rd-party/libconfig
	url = https://github.com/hyperrealm/libconfig
